.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
}

.destription-theme-dark {
    color: rgb(var(--primary-text-color-theme-dark), 0.6);
}

.destription-theme-light {
    color: var(--primary-text-color-theme-light);
}